<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iii.org.tw.getpet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActHomePage"
            android:theme="@style/AppTheme.iPetNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="GetPet"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBJavlqelUNNqP_AMMmxzWwVNzDW0UwjHI" />

        <activity android:name=".ActCategory"
            android:theme="@style/AppTheme.iPet" />

        <activity android:name=".ActSearchShelter"
            android:theme="@style/AppTheme.iPet"/>

        <activity android:name=".ActShelterPetList"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ActShelterPetDetail"
            android:label="@string/title_activity_act_shelter_pet_detail"
            android:theme="@style/AppTheme.iPetNoAction" />

        <activity android:name=".ActMsgBox"
            android:theme="@style/AppTheme.iPet"/>

        <activity android:name=".ActAdoptPairList" />

        <activity
            android:name=".ActAdoptPairDetail"
            android:label="@string/title_activity_act_adopt_pair_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ActLogin"
            android:theme="@style/AppTheme.iPet" />

        <activity android:name=".ActSearchAdopt"
            android:theme="@style/AppTheme.iPet" />

        <activity android:name=".ActFollowingList" />

        <activity android:name=".ActRegister"
            android:theme="@style/AppTheme.iPet" />

        <activity
            android:name=".ActAdoptUpload"
            android:label="@string/title_activity_act_adopt_upload"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ActConditionInput"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".ActFollowingDetail"
            android:label="@string/title_activity_act_following_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ActMsgShow"
            android:label="@string/title_activity_act_msg_show"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".ActMsgInput"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".ActAdoptUploadList"
            android:label="@string/title_activity_act_adopt_upload_list" />

        <activity
            android:name=".ActAdoptEdit"
            android:label="@string/title_activity_act_adopt_edit"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ActBoardList"
            android:label="@string/title_activity_act_board_list"
            android:theme="@style/AppTheme.iPet"/>

        <activity
            android:name=".ActBoardInput"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".ActPetHelper"
            android:theme="@style/AppTheme.iPet" />

        <activity android:name=".ActMapCategory" />

        <activity android:name=".ActMapSearch" />

        <activity android:name=".ActMember"
            android:theme="@style/AppTheme.iPet"/>

        <activity android:name=".ActAboutUs"/>

    </application>

</manifest>