<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iii.org.tw.getpet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActHomePage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="GetPet"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name=".ActCategory" />
        <activity android:name=".ActSearchShelter" />
        <activity android:name=".ActShelterPetList" />
        <activity
            android:name=".ActShelterPetDetail"
            android:label="@string/title_activity_act_shelter_pet_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActMsgBox" />
        <activity android:name=".ActAdoptPairList" />
        <activity
            android:name=".ActAdoptPairDetail"
            android:label="@string/title_activity_act_adopt_pair_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActLogin"></activity>
    </application>

</manifest>